{% load static %}
{% include 'main/navigation.html' %}

<!-- ================================================================================================================================ -->
 <!-- body -->
<div class="container">
    <div class="col s3">
              <!-- Grey navigation panel -->
      <ul id="slide-out" class="collapsible sidenav sidenav-fixed">
        <h1>Logo Here</h1>
        <li>
          <a class="waves-effect waves-light btn-small" href="/add/">Add Students</a>
        </li>
        <li>
          <a class="waves-effect waves-light btn-small">View Students</a>
        </li>
      </ul>
    </div>

  <div class="col s9">
        <!-- Teal page content  -->
        <div class="row">
          <div class="col s9 offset-s3">
  <!-- <footer class="page-footer orange" style="position:fixed;bottom:0;left:0;width:100%;">  if we decided that page should be-->
 
     
  <div class="row">
    <form class="col s12" method="POST" action="{% url 'add' %}">
      {% csrf_token %}
      
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" name="firstName">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" name="lastName">
          <label for="last_name">Last Name</label>
        </div>
      </div>
    

      <div class="row">
        <div class="input-field col s12">
          <input id="address" type="text" class="validate" name="address">
          <label for="address">Address</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <input id="Contact Number" type="tel" class="validate" name="phone">
            <label>Contact Number</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s6">
            <button class="btn waves-effect waves-light" type="submit" name="updateStudent">Update Student</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
 
        </div>
 
    </div>

</div>

    {% include 'main/footer.html' %}

  </div>

  {% include 'main/scripts.html' %}


  
  
  </body>
</html>
