{% load static %}

<div class="col s9">
  <!-- <footer class="page-footer orange" style="position:fixed;bottom:0;left:0;width:100%;">  if we decided that page should be-->
  <footer class="page-footer orange" style="bottom:0;left:0;width:100%;">

    <div class="footer-copyright" >
      <div class="container">
        <div class="row">
        <div class="col s6 offset-s2">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
        </div>
      </div>
    </div>
  </footer>

</div>